@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto!</h1>
    <p>Divertiti giocando a <strong>TRIS</strong> online con i tuoi amici!</p>
</div>
<h2>Per iniziare...</h2>
<ul>
    <li>Prima di tutto accedi, o registrati se non lo hai ancora fatto cliccando rispettivamente "<strong>Accedi</strong>" o "<strong>Registrati</strong>" nel menu!</li>
    <li>Clicca sul pulsante "<strong>Lobby</strong>".</li>
    <li>
        Fai click su "<strong>Crea una nuova stanza</strong>", per averne una tutta tua.
        Potrai fare la prima mossa, ma dovrai attendere che un altro utente,
        si connetta.
    </li>
    <li>Se non vuoi aspettare clicca il punstante "<strong>Accedi</strong>" in una stanza tra quelle in matchmaking che puoi venere nell'apposita <strong>tabella</strong>.</li>
    <li>Ultimo per importanza: <strong>Divertiti!</strong></li>
    <li>Dopo aver vinto, guarda la tua posizione in classifica facendo click sul pulsante "<strong>Leaderboard</strong>"nel menu.</li>
    <li><strong>Pro Tip</strong>: Se utilizzi più browser puoi giocare anche da solo e <strong>ACCUMULARE PUNTI</strong>! ma non dirlo in giro...</li>
</ul>